@page
@model CSCCSTRDB.Pages.Admin.Participants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Pronouns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Pronouns)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.DiscordId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.DiscordId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.IsCompetitor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.IsCompetitor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.QualifierRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.QualifierRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.QualifierScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.QualifierScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.AdvancedToPlayoff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.AdvancedToPlayoff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.ReceivedGroupBye)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.ReceivedGroupBye)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.IsReferee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.IsReferee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.GroupRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.GroupRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Group.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Participant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
